argparse
dnspython
requests
subprocess.run
scapy==2.4.5
requests
readline
validators
argparse
hashlib
multiprocessing
json
optparse
signal
uuid
ctypes
dns.resolver
dns.rdatatype
requests.packages.urllib3

